<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MAD Project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mad_project">
        <activity
            android:name=".activities.Electronicstbpage"
            android:exported="false" />
        <activity
            android:name=".activities.Foodtbpage"
            android:exported="false" />
        <activity
            android:name=".activities.Ps5forms"
            android:exported="false" />
        <activity
            android:name=".activities.Samsungforms"
            android:exported="false" />
        <activity
            android:name=".activities.Clothingforms"
            android:exported="false" />
        <activity
            android:name=".activities.Applewatchforms"
            android:exported="true" />
        <activity
            android:name=".activities.Iphone13forms"
            android:exported="true" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainPageBuyerActivity"
            android:exported="false"
            android:label="Home" />
        <activity
            android:name=".activities.MainPageSellerActivity"
            android:exported="false"
            android:label="Home" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>